/* Scrollbar */

html {
  scrollbar-color: #141414 #EFE9E9;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #EFE9E9;
  width: 15px;
  height: 4px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF5757;
  width: 15px;
  height: 4px;
  border-radius: 15px;
}
