/* <footer> */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-preto);
  padding: 30px;
  text-align: center;
}

footer p {
  font-family: var(--bold);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: var(--cor-branco);
  line-height: 1.5;
  width: 100%;
  max-width: 500px;
}

footer a {
  font-family: var(--bold);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: var(--cor-branco);
  line-height: 1.5;
  margin: 10px 0 0 0;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  footer p {
    max-width: 270px;
  }
}
