/* <section class="duvidas"> */

section.duvidas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-pele);
  background-image: url('../../../../../files/images/background-linhas-3.png');
  background-size: cover;
  background-position: center;
  padding: 120px 30px 70px 30px;
}

section.duvidas .conteudo {
  width: 100%;
  max-width: 700px;
}

section.duvidas .conteudo h3 {
  font-family: var(--bold);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--cor-cinza);
  line-height: 1.5;
}

section.duvidas .conteudo p {
  font-family: var(--regular);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-cinza);
  line-height: 1.5;
  padding: 10px 0 50px 0;
}

section.duvidas .conteudo p span {
  color: var(--cor-vermelho);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.duvidas {
    padding: 80px 30px 50px 30px;
  }
}
