/* <section class="informacao"> */

section.informacao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-pele);
  background-image: url('../../../../../files/images/background-linhas-1.png');
  background-size: cover;
  background-position: left center;
  position: relative;
  overflow: hidden;
  padding: 80px 80px 180px 80px;
}

section.informacao img.divisor {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

section.informacao img.principal {
  width: 100%;
  max-width: 50%;
}

section.informacao .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 50%;
  padding: 0 0 0 100px;
  z-index: 4;
}

section.informacao .titulo h2 {
  font-family: var(--bold);
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: var(--cor-preto);
  line-height: 1.5;
}

section.informacao .titulo p {
  font-family: var(--regular);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-preto);
  line-height: 1.5;
  padding: 20px 0 0 0;
}

section.informacao .titulo button {
  font-family: var(--bold);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--cor-branco);
  background-color: #11d83d;
  padding: 20px 35px;
  border-radius: 100px;
  transition: all 0.3s;
  margin: 25px 0 0 0;
}

section.informacao .titulo button:hover {
  box-shadow: 10px 10px 20px 0 var(--cor-branco-);
  background-color: #11d83d;
  transform: scale(1.05);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.informacao {
    flex-direction: column;
    padding: 50px 30px 120px 30px;
    background-image: none;
  }
  section.informacao img.divisor {
    width: 200%;
  }
  section.informacao img.principal {
    max-width: 100%;
  }
  section.informacao .titulo {
    max-width: 100%;
    padding: 50px 0 0 0;
  }
  section.informacao .titulo button {
    border-radius: 20px;
  }
}
